# R packages to install (space-separated). Example:
# R_PACKAGES=tidylog data.table arrow readr jsonlite stringi lubridate
R_PACKAGES=

# GitHub R packages to install (space-separated). Example:
# GH_PACKAGES=ropensci/git2r r-lib/pkgdown
GH_PACKAGES=

# RStudio Server password for user 'rstudio'
# PASSWORD=your_password
PASSWORD=

# Host path to cases directory
# CASES_DIR=${HOME}/cases
CASES_DIR=${HOME}/cases

# Host path to RStudio config dir
# RSTUDIO_CONFIG_DIR=./rstudio_config
RSTUDIO_CONFIG_DIR=./rstudio_config

# Host path to rserver.conf
# RSTUDIO_RSERVER_CONF=./rstudio_etc/rserver.conf
RSTUDIO_RSERVER_CONF=./rstudio_etc/rserver.conf
