.env
.Rhistory
.RData
.Ruserdata
*.Rproj.user
rstudio_config/*
!rstudio_config/
!rstudio_config/.gitkeep
!rstudio_config/fish/
!rstudio_config/fish/conf.d/
!rstudio_config/fish/conf.d/uv.env.fish
!rstudio_config/gh/
!rstudio_config/gh/config.yml
rstudio_config/gh/hosts.yml
!rstudio_config/rstudio/
!rstudio_config/rstudio/rstudio-prefs.json
msticpy_config/msticpyconfig.yaml
corp_ca/*
!corp_ca/
!corp_ca/.gitkeep
rstudio_users/users.conf
rstudio_home/*
!rstudio_home/.gitkeep
